@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    animation: scroll-left 50s linear infinite;
  }
  