@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulseColorChange {
    0% {
  
        border-color: white;
    }
    20% {
        
        border-color: #1A237E;
    }
    40% {
        border-color: #00BCD4;
    }
    80% {
        
        border-color: #E91E63;
    }
    100% {
        
        border-color: white;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.pulse-color-change {
    border-width: 2px;
    animation: pulseColorChange 3s infinite ease-in-out, pulse 1s ease-in-out 1;
}

html {
    overflow: scroll;
}

