@tailwind base;
@tailwind components;
@tailwind utilities;



/* Global Styles for Marquee */
.rfm-marquee-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 50%;  /* You can adjust this width */
    margin: 0 auto;  /* Center the container horizontally */
    justify-content: center;  /* Center content inside the container */
    align-items: center;  /* Center content vertically */
     /* Make the container take full viewport height */
  }
  .rfm-marquee {
    display: flex;
    animation: scroll 20s linear infinite; /* Adjust duration for smoothness */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .rfm-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .rfm-overlay::before,
  .rfm-overlay::after {
    background: linear-gradient(to right, var(--gradient-color, rgba(0, 0, 0, 0.5)), transparent);
    content: "";
    height: 100%;
    position: absolute;
    width: 50px; /* Adjust the width of the gradient */
    z-index: 2;
    pointer-events: none;
    touch-action: none;
  }
  
  .rfm-overlay::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .rfm-overlay::before {
    left: 0;
    top: 0;
  }
  